body {
  width: 60rem;
  margin: auto;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #65A9F3;
  background-color: #B2D2F5;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #65A9F3;
  opacity: .75;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #65A9F3;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #65A9F3;
  border-top: none;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.galimg {
  width:30vw;
  height:30vw;
  object-fit:contain;
  margin: 1em 0;
}

/* Time for some logo editing, for the header */
.logo {
  width: 40%;
  height: 50%;
  display: inline;
}

.iicrclogo {
  width: 13.5rem;
  display: inline;
}

.hrslogo {
  width: 8rem;
  display: inline;
  vertical-align: top;
  padding-left: 3rem;
}
  
.phonenumbers {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
